* {
    margin: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

span {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#search-bar, button {
    box-sizing: border-box;
    height: 50px;
    font-size: 1.5em;
    margin: 0;
}


#image-containers {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 1px solid grey;
    border-radius: 8px;
}

img {
    height: 200px;
}
